#main-nav {
	text-align: center;
}

#main-nav .social {
	display: none;
}

#main-nav .container {
	height: 18vh;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem;
}

#main-nav ul, #main-nav .logo {
	justify-self: center;
}

#main-nav ul li a {
	padding: .5rem;
}

#home-articles .articles-container {
	grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
	grid-template-columns: 1fr;
	grid-column: 1;
}

#showcase .showcase-container {
	text-align: center;
	grid-template-columns: 1fr;
}

@media (max-width: 600px) {
	#showcase .showcase-container,
	#home-articles .articles-container,
	#main-footer .footer-container,
	.container .page-container {
		grid-template-columns: 1fr;
	}

	#main-footer .footer-container > * {
		border-bottom: #444 dotted 2px;
		padding-bottom: 1rem;
		text-align: center;
	}

	#main-footer .footer-container > *:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	#main-footer .footer-container p {
		margin-bottom: 1.5rem;
	}

	.list li {
		width: 100%;
	}
}
