.container {
	max-width: var(--max-width);
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}

.category {
	display: inline-block;
	color: #fff;
	font-size: .55rem;
	text-transform: uppercase;
	padding: .4rem .6rem;
	border-radius: 15px;
	margin-bottom: .5rem;
}

.category-sports {
	background: var(--sports-color);
}

.category-ent {
	background: var(--ent-color);
}

.category-tech {
	background: var(--tech-color);
}

.btn {
	display: inline-block;
	border: none;
	background: var(--dark-color);
	color: #fff;
	padding: .5rem 1.5rem;
}

.btn-block {
	display: block;
	width: 100%;
	text-align: center;
}

.btn:hover {
	opacity: 0.9
}

.btn-light {
	background: var(--light-color);
}

.btn-dark {
	background: var(--dark-color);
}

.btn-primary {
	background: var(--primary-color);
}

.btn-secondary {
	background: var(--secondary-color);
}

.card {
	background: #fff;
	padding: 1rem;
}

.bg-dark {
	background: var(--dark-color);
	color: #fff;
}

.bg-light {
	background: var(--light-color);
	color: #fff;
}

.bg-primary {
	background: var(--primary-color);
	color: #fff;
}

.bg-secondary {
	background: var(--secondary-color);
	color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary h4,
.bg-secondary h5,
.bg-secondary a {
	color: #fff;
}

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }
.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }
.px-1 { padding: 0 1.5rem; }
.px-2 { padding: 0 2rem; }
.px-3 { padding: 0 3rem; }

.l-heading {
	font-size: 3rem;
}

.list li {
	padding: .5rem 0;
	border-bottom: #555 2px dotted;
	width: 90%;
}

.list li a:hover {
	color: var(--primary-color) !important;
}

.list li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

.page-container {
	display: grid;
	grid-template-columns: 5fr 2fr;
	margin: 2rem 0;
	grid-gap: 1.5rem;
}

.page-container > *:first-child {
	grid-row: 1 / span 3;
}
